.flex-h-container {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-form-container-1 {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.flex-form-container-2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 19% 33% 15% 33%;
    margin-bottom: 20px;
}

.flex-form-container-3 {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 20px;
}

.split-form-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    background: #283593;
    padding: 8px;
    width: 250px;
    margin: 5px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
}

.split-container {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    justify-items: center;
}

.split-item {
}

p {
    margin-bottom: 1px;
}

.my-h {
    margin-bottom: 12px;
    /*text-align: center;*/
    font-size: 22px;
}

.form-control[type=text] {
    background-color: #181818;
    color: white;
    border-color: black;
}

.add-btn {
    border-radius: 25px;
    border: none;
    color: #332e2e;
    background: #10efcd;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.card-btn {
    border-radius: 12px;
    border: #ffffff 2px solid;
    color: #ffffff;
    margin-top: 5px;
    padding: 4px;
    text-align: center;
    background: transparent;
}

.myFavIcon {
    width: 60px;
    height: 60px;
    float: left;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #181818;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #10efcd;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
